.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px 20px 20px;

  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.header {
  color: rgb(166 131 227);
  margin-bottom: 30px;
}

.input {
  padding: 5px 20px;
  font-size: 21px;
  border-width: 2px;
  border-color: rgb(166 131 227);
  background-color: #e7e7e7;
  color: #5b5353;
  border-style: solid;
  border-radius: 20px;
  box-shadow: 0px 0px 9px rgba(66, 66, 66, 0.27);
}

.button {
  background-color: rgb(166 131 227);
  border: none;
  border-radius: 8%;
  padding: 12px 31px;
  color: #fff;
  font-size: 15px;
  margin-left: 20px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: rgb(192, 114, 41);
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.listItem {
  margin-bottom: 5px;
  color: #c6c4c9;
}
